// CSS Style Guide: https://codeguide.co/#css

// https://stylus-lang.com/docs/keyframes.html
vendors = official;

$scheme = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';


// Variables Layer
// --------------------------------------------------
@import '_variables/base';
@import '_variables/' + $scheme;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import '_mixins';
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import '_colors';

// Common Layer
// --------------------------------------------------

// Scaffolding
@import '_common/scaffolding';

// Layout
@import '_common/outline';

// Components
@import '_common/components';


// Schemes Layer
// --------------------------------------------------
@import '_schemes/' + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;

.site-brand-container {
  background: url(/images/cat.png);
  background-size: contain
}

// 针对行内代码标签的美化 (排除代码块内的 code)
:not(pre) > code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #fc6423;
  background: #eee;
  border-radius: 3px;
  font-size: 0.95em;
  font-family: Lato, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

// 针对代码块（code block）的字体大小调节
//.highlight, pre {
//  font-size: 18px; // 在这里修改你想要的尺寸，例如 14px 或 0.9em
//  
//  code {
//    font-size: 18px; // 确保内部 code 标签也同步缩放
//  }
//}
//